<div class="innerContent">
      <div class="pageWidth">
        <div class="leftArea">
        
        	<div class="crew-info">
            <div class="titlePos">
              <div class="left">
                <h1>Browse <strong>Jobs</strong></h1>
              </div>
              <div class="right"> <a href="javascript:history.back()" class="back-to-page"> « Back </a> </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- /titlePos -->
        
                <div class="browsePeoplMain">
                	<div class="browsePeopleList">
                    	<div class="browsePeopleLogo"><a href="job-profile.html"><img src="../assets/profile-pic.jpg" alt="profile-pic"></a></div>
                        <div class="browsePeopleContent">
                        	<p><strong>Lore ipsum dolor</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... Duis aute irure dolor in reprehenderit in voluptate, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <div class="browsePeopleICon">
                        	<a href="job-profile2.html" class="orangeBtn"><i class="icon-eye-open"></i> View Job</a>
                        </div>
                        </div>
                        
                    </div> 
                    <div class="browsePeopleList">
                    	<div class="browsePeopleLogo"><a href="#"><img src="../assets/profile-pic3.jpg" alt="profile-pic"></a></div>
                        <div class="browsePeopleContent">
                        	<p><strong>Lore ipsum dolor</strong></p>
                            <p>Vivamus est ipsum, rutrum et diam id, volutpat condimentum metus. Cras faucibus laoreet finibus. Aliquam vitae lectus suscipit, lobortis dui tempor, mollis lectus. Mauris pretium at lectus eget pharetra. Aenean mauris nibh, bibendum a purus ut, dignissim varius metus. Praesent semper imperdiet nunc. </p>
                            <div class="browsePeopleICon">
                        	<a href="job-profile2.html" class="orangeBtn"><i class="icon-eye-open"></i> View Job</a>
                        </div>
                        </div>
                        
                    </div>
                    <div class="browsePeopleList">
                    	<div class="browsePeopleLogo"><a href="#"><img src="../assets/profile-pic4.jpg" alt="profile-pic"></a></div>
                        <div class="browsePeopleContent">
                        	<p><strong>Lore ipsum dolor</strong></p>
                            <p> Nullam at gravida sem, quis iaculis erat. Donec eleifend, magna id vulputate ornare, mauris sem euismod lectus, a feugiat arcu sapien ac neque. Duis ut sodales ligula. Aenean mauris nibh, Mauris pretium at lectus eget pharetra. Morbi nec interdum felis, et dictum erat. </p>
                            <div class="browsePeopleICon">
                        	<a href="job-profile2.html" class="orangeBtn"><i class="icon-eye-open"></i> View Job</a>
                        </div>
                        </div>
                        
                    </div>
                    <div class="browsePeopleList">
                    	<div class="browsePeopleLogo"><a href="job-profile.html"><img src="../assets/profile-pic.jpg" alt="profile-pic"></a></div>
                        <div class="browsePeopleContent">
                        	<p><strong>Lore ipsum dolor</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... Duis aute irure dolor in reprehenderit in voluptate, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <div class="browsePeopleICon">
                        	<a href="job-profile2.html" class="orangeBtn"><i class="icon-eye-open"></i> View Job</a>
                        </div>
                        </div>
                        
                    </div> 
                    <div class="browsePeopleList">
                    	<div class="browsePeopleLogo"><a href="#"><img src="../assets/profile-pic3.jpg" alt="profile-pic"></a></div>
                        <div class="browsePeopleContent">
                        	<p><strong>Lore ipsum dolor</strong></p>
                            <p>Vivamus est ipsum, rutrum et diam id, volutpat condimentum metus. Cras faucibus laoreet finibus. Aliquam vitae lectus suscipit, lobortis dui tempor, mollis lectus. Mauris pretium at lectus eget pharetra. Aenean mauris nibh, bibendum a purus ut, dignissim varius metus. Praesent semper imperdiet nunc. </p>
                            <div class="browsePeopleICon">
                        	<a href="job-profile2.html" class="orangeBtn"><i class="icon-eye-open"></i> View Job</a>
                        </div>
                        </div>
                        
                    </div>
                    <div class="browsePeopleList">
                    	<div class="browsePeopleLogo"><a href="#"><img src="../assets/profile-pic4.jpg" alt="profile-pic"></a></div>
                        <div class="browsePeopleContent">
                        	<p><strong>Lore ipsum dolor</strong></p>
                            <p> Nullam at gravida sem, quis iaculis erat. Donec eleifend, magna id vulputate ornare, mauris sem euismod lectus, a feugiat arcu sapien ac neque. Duis ut sodales ligula. Aenean mauris nibh, Mauris pretium at lectus eget pharetra. Morbi nec interdum felis, et dictum erat. </p>
                            <div class="browsePeopleICon">
                        	<a href="job-profile2.html" class="orangeBtn"><i class="icon-eye-open"></i> View Job</a>
                        </div>
                        </div>
                        
                    </div>                     
                </div>
                <!-- /browse jobs -->
                <div class="pagination">
                  <ul>
                    <li><a href="javascript:void(0)">Prev</a></li>
                    <li><a href="javascript:void(0)" class="active">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a class="pagination-gap">...</a></li>
                    <li><a href="javascript:void(0)">24</a></li>
                    <li><a href="javascript:void(0)">25</a></li>
                    <li><a href="javascript:void(0)">Next</a></li>
                  </ul>
                </div>
                <div class="clear"></div>
        </div>
        <!-- /leftarea -->
        <aside class="sideArea">
          <div class="adSpace"><img src="../assets/inner/ad-300X600-3.jpg" alt="ad-300X600-2"></div>
          <div class="adSpace"><img src="../assets/inner/ad-300X250-4.jpg" alt="ad-300X250-4"></div>
        </aside>
        <div class="clear"></div>
      </div>
    </div>